<!DOCTYPE html>

<html>

<head>
    <title>Home - Admin</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">


    <link href="/admin/static/bootstrap/bootstrap2/swatch/cerulean/bootstrap.min.css?v=2.3.2" rel="stylesheet">
    <link href="/admin/static/bootstrap/bootstrap2/css/bootstrap-responsive.css?v=2.3.2" rel="stylesheet">
    <link href="/admin/static/admin/css/bootstrap2/admin.css?v=1.1.1" rel="stylesheet">

    
    <style>
        body {
            padding-top: 4px;
        }
    </style>





</head>

<body>

    <div class="container">
        <div class="navbar">
            <div class="navbar-inner">

                <a class="brand" href="/admin">Admin</a>


                <ul class="nav">


                    <li class="active">
                        <a href="/admin/">Home</a>
                    </li>
                    <li>
                        <a href="/admin/user/">User</a>
                    </li>
                    <li>
                        <a href="/admin/certificate/">Certificate</a>
                    </li>

                </ul>


                <ul class="nav pull-right">




                    <li>
                        <a href="/admin_logout">Logout</a>
                    </li>



                </ul>



            </div>
        </div>

        <h3 class="">
            You cant add , edit or delete users and certificates from admin dashboard .
        </h3>

    </div>



    <script src="/admin/static/vendor/jquery.min.js?v=2.1.4" type="text/javascript"></script>
    <script src="/admin/static/bootstrap/bootstrap2/js/bootstrap.min.js?v=2.3.2" type="text/javascript"></script>
    <script src="/admin/static/vendor/moment.min.js?v=2.9.0" type="text/javascript"></script>
    <script src="/admin/static/vendor/select2/select2.min.js?v=3.5.2" type="text/javascript"></script>





</body>

</html>